{% extends "admin/layout.njk" %}

{% block content %}    

<section class="edit-form">
           
        <div class="second-header">
            <h2>Edit recipe</h2>

        <form method="POST" action="/admin/recipes?_method=PUT">
                <input 
                    type="hidden"
                    name="id"
                    value="{{ recipe.id }}">    
                <button class="primary_button" type="submit">Save recipe</button>

            </div>
            
            {% include 'admin/fields.njk' %}

            {% block script %} 
                <script src="/add-script.js"></script>
            {% endblock %}
             
        </form>

        <form id="delete" method="post" action="/admin/recipes?_method=DELETE">
            <input 
                type="hidden"
                name="id"
                value="{{ recipe.id }}">
            <button type="submit">Delete recipe</button>
        </form>

    </section>

{% endblock content %} 